<!-- The contents of this card links to the department page using the department ID -->
<a href="/api/departments/{{id}}">
  <!-- The card contains the department name as the card header -->
  <header>{{department_name}}</header>
  <img src="/assets/departments_icons/{{id}}.svg" alt="{{department_name}}">
</a>