<!-- The contents of this card links to the department page using the department ID -->
<a href="/api/departments/{{id}}">
  <!-- The card contains the department name as the card header -->
  <img src="/assets/departments_icons/{{id}}.svg" alt="{{department_name}}">
  <header class="card-title">{{department_name}}</header>
</a>