<body>
    <div class="row">
    {{!-- logo half --}}
      <div class="col logo-container">
        
        <img src="/assets/logos/main_logo.png" alt="CareConnect Logo">
        
      </div>
      {{!-- login half --}}
      <div class="col login-container">
        <div class="col">
          <h2>Welcome back.</h2>
          <form class="col align-middle login-form">
            <input class="row" type="text" placeholder="email" id="email-login" name="email" required>
            <input class="row" type="password" placeholder="password" id="password-login" name="password" required>
          
            <button type="submit">Log In</button>
          </form>
          <p>Don't have an account? <a href="#" onclick="openModal()">Create Account</a></p>
        </div> 
      </div>
    </div>


    {{!-- <script>
      function openModal() {
        var modal = document.getElementById("signupModal");
        modal.style.display = "block";
      }

      function closeModal() {
        var modal = document.getElementById("signupModal");
        modal.style.display = "none";
      }
    </script> --}}
  </div>
</body>
