<!-- Modal -->

        <h2>Create Account</h2>
        <form class="register-form">
          <label for="name-signup">Name:</label>
          <input type="text" id="name-signup" name="name" required>
          
          <label for="email-signup">Email:</label>
          <input type="email" id="email-signup" name="email" required>
          
          <label for="password-signup">Password:</label>
          <input type="password" id="password-signup" name="password" required>
          
          <button type="submit">Sign Up</button>
        </form>
