<!DOCTYPE html>
<html>
<head>
  <title>CareConnect</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <main>
    <aside>
      <h2>CareConnect</h2>
    </aside>
    <div class="login">
      {{{ body }}}
    </div>
  </main>
    <script src="js/login.js"></script>
</body>

</html>
    



