<!DOCTYPE html>
<html>
<head>
  <title>CareConnect</title>
  <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body>
  <main>
    <aside>
      <h2>CareConnect</h2>
    </aside>
    <div class="login">
        {{#if loggedIn}}
        {{> homepage}}
        {{else}}
        {{> login}}
        {{/if}}
      
    </div>
  </main>
    <script src="public/js/login.js"></script>
</body>

</html>
    



