
{{> CSS }}
<div class="row window d-flex">
  {{!-- controls --}}
  <container class="col-3" id="dashboard-controls">
    <div class="row">
      <img src="/assets/logos/vertical_logo.svg" alt="logo" class="logo" id="vertical-logo">
    </div>
    <div class="row dashboard-menu">
      <ul>
        <li class="dashboard_menu_item">
          <a href="/dashboard">
              <img src="/assets/controls_icons/Dashboard_Icon_Inactive.svg" alt="controls icon">
              Dashboard 
          </a>
         </li>
         <li class="dashboard_menu_item">
          <a href="/api/employees">
            <img src="/assets/controls_icons/Employee_Icon_Active.svg" alt="employees icon">
            <span id="active-label">Employees</span>
            </a>
        </li>
        <li class="dashboard_menu_item">
          <a href="/api/departments">
            <img src="/assets/controls_icons/Departments_Icon_Inactive.svg" alt="departments icon">
            Departments
          </a>
        </li>
        <li class="dashboard_menu_item">
          <a  href="/api/roles">
            <img src="/assets/controls_icons/roles_icon.svg" alt="roles icon">
            <span>Roles</span>
          </a>
        </li>
      </ul>
    </div>
  </container>

<h1>Edit Employee Details</h1>

        <section class="card-container">
            <form class="edit-employee-form"></form>
            <div class="card">
                <div>
                    <label for="first_name"><b>Employee First_name: </b></label>
                    <input class="input" type="text" id="first_name" name="first_name" value="{{employeeToEdit.first_name}}" />
                </div>
                <div>
                    <label for="last_name"><b>Employee Last_name: </b></label>
                    <input class="input" type="text" id="last_name" name="last_name" value="{{employeeToEdit.last_name}}"/>
                </div>
                <div>
                    <label for="title"><b>Choose a Role</b></label>
                    <select id="title" name="title" placeholder="role-title">
                        {{#each roles as |role|}}
                        <option value="{{role.id}}">{{role.title}}</option>
                        {{/each}}
                    </select>
                </div>

                <button class="button edit-emp-btn" type="button" id="emp-edit-btn"> Edit </button>
    
            </div>
            </form>
        </section>
    </container>
</div>

<script type="text/javascript" src="/js/edit-emp.js"></script>