<article>
  <a href="/api/departments/"> &larr; Back to Department </a>
  <h3 class="title mt-5">Edit Department</h3><hr>
  
  <form class="edit-dept-form">
    <div>
        <label for="dept-name"><b>Department-Name</b></label>
        <input class="input" type="text" id="dept-name" name="dept-name value="{{department.name}}"" />
    </div>
  
    <button class="button" type="submit"> Update Department </button>
    <button class="button delete-dept-btn" type="submit"> Delete Post </button>
  </form>
</article>

<script src="/javascript/edit-dept.js"></script>
<script src="/javascript/delete-dept.js"></script>