
{{> CSS }}
<div class="row window d-flex">
  {{!-- controls --}}
  <container class="col-3" id="dashboard-controls">
    <div class="row">
      <img src="/assets/logos/vertical_logo.svg" alt="logo" class="logo" id="vertical-logo">
    </div>
    <div class="row dashboard-menu">
      <ul>
        <li class="dashboard_menu_item">
          <a href="/dashboard">
              <img src="/assets/controls_icons/Dashboard_Icon_Inactive.svg" alt="controls icon">
              Dashboard 
          </a>
         </li>
         <li class="dashboard_menu_item">
          <a href="/api/employees">
            <img src="/assets/controls_icons/Employee_Icon_Inactive.svg" alt="employees icon">
            Employees
            </a>
        </li>
        <li class="dashboard_menu_item">
          <a href="/api/departments">
            <img src="/assets/controls_icons/Departments_Icon_Active.svg">
            <span id="active-label">Departments</span>
          </a>
        </li>
        <li class="dashboard_menu_item">
          <a  href="/api/roles">
            <img src="/assets/controls_icons/roles_icon.svg" alt="roles icon">
            <span>Roles</span>
          </a>
        </li>
      </ul>
    </div>
  </container>

<h1>Edit Department</h1>

<section class="card-container">
    <form class="new-dept-form">
        <div class="card">
            <div>
                <label for="dept-name"><b>Department-Name</b></label>
                <input class="input" type="text" id="dept-name" name="dept-name" />
            </div>

            <button class="button" type="submit"> Edit </button>
            <button class="button delete-dept-btn" type="submit"> Delete </button>
        </div>
    </form>
</section>


<script src="/javascript/edit-dept.js"></script>
<script src="/javascript/delete-dept.js"></script>