{{> dashboardControls }}
<h1>Edit Department</h1>

<section class="card-container">
    <form class="new-dept-form">
        <div class="card">
            <div>
                <label for="dept-name"><b>Department-Name</b></label>
                <input class="input" type="text" id="dept-name" name="dept-name" />
            </div>

            <button class="button" type="submit"> Edit </button>
            <button class="button delete-dept-btn" type="submit"> Delete </button>
        </div>
    </form>
</section>


<script src="/javascript/edit-dept.js"></script>
<script src="/javascript/delete-dept.js"></script>