<div class="row d-flex">
  {{!-- controls --}}
  <container class="col-3" id="dashboard-controls">
    <div class="row">
      <img src="/assets/logos/vertical_logo.svg" alt="logo" class="logo" id="vertical-logo">
    </div>
    <div class="row justify-content-center mx-3">
      <ul>
        <li class="dashboard_menu_item">
          <img src="/assets/controls_icons/dashboard_icon_active.svg" alt="dashboard icon">
          Dashboard</li>
        <li class="dashboard_menu_item">
          <a href="/api/employees">
          <img src="/assets/controls_icons/departments_icon_active.svg" alt="dashboard icon">
          Employees
          </a>
        </li>
        <li class="dashboard_menu_item">
          <a href="/api/departments">
            <img src="/assets/controls_icons/departments_icon_active.svg" alt="dashboard icon">
            Departments
          </a>
        </li>
      </ul>
    </div>
  </container>
  {{!-- display --}}
  <container class="col-9" id="dashboard-display">
    {{!-- nav bar --}}
    <nav class="row mx-3 my-3">
      <div class="col-9">
        <input type="text" placeholder="name, role, or department" id="search-bar" name="search-bar">
      </div>
      <div class="col-2">
       <img src="/assets/controls_icons/logout_icon.svg" alt="logout icon" id="logout">
        <img src="/assets/controls_icons/profile_icon.svg" alt="profile icon">
      </div>
    </nav>
    <h1>Employees</h1>
<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
     width: calc(33.33% - 20px);
    margin-bottom: 20px;
    /* Add additional styling for the card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>

<section class="card-container">
{{#each employees as |employee|}}
    <div class="card">
      {{> employee-details employee=employee}}
    </div>
  {{/each}}
</section>
  </container>
</div>

<script src="/js/logout.js"></script>