
<h1>employees</h1>

{{#each employees as |employee| }}

    <p>
     {{employee.first_name}} {{employee.last_name}}
    </p>
    <p>
      role: {{employee.role_id}}
    </p>

{{/each}}

<script src="/js/employees.js"></script>
```