{{> dashboardControls}}

  {{!-- display --}}
  <container class="col-9" id="dashboard-display">
    {{!-- nav bar --}}
    <nav class="row my-4 nav-bar">
      <div class="col-10">
        
      </div>
      <div class="col-2 acct-controls">
        <img src="/assets/controls_icons/logout_icon.svg" alt="logout icon" id="logout">
      </div>
    </nav>
    <h1 class="display-label">Employees</h1>


<section class="card-container">
  <div class="card mx-2">
    <a href="/api/employees/add">
    <img class="add-icon" src="../assets/controls_icons/add_department.svg" alt="add icon" id="add-icon">
    <header class="card-title">Add employee</header>
    </a>
  </div>
{{#each employees as |employee|}}
    <div class="card mx-2">
      {{> employeeDetails employee=employee}}
    </div>
  {{/each}}
</section>
  </container>
</div>



<script src="/js/logout.js"></script>