{{> dashboardControls}}
  {{!-- display --}}
  <container class="col-9" id="dashboard-display">
    {{!-- nav bar --}}
    <nav class="row mx-3 my-3">
      <div class="col-9">
      </div>
      <div class="col-2">
        <img src="/assets/controls_icons/logout_icon.svg" id="logout" alt="logout icon">
      </div>
    </nav>
    <h1>Roles</h1>

<section class="card-container">
  {{#each roles as |role|}}
    <div class="card">
      {{> roleDetails}}
    </div>
  {{/each}}
</section>
 </container>
</div>

<script src="/js/logout.js"></script>

