* {
  --navy: #1E3163;
  --brown: #B6715B;
  --gray: #D9D9D9;
  --cream: #eeeeee;
  font-family: 'Prompt', sans-serif;
 }

html, body {
  height: 100%;
}

 /* ----- text ------ */

h1{
  color: var(--navy);
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: var(--navy);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.window {
  height: 100vh;
}

/* dashboard controls */

::placeholder {
  color: var(--navy);
  font-size: 24px;
  font-weight: lighter;
  padding-left: 4px;
}

button {
  background-color: var(--navy);
  color: var(--cream);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.link {
  color: var(--navy);
  font-size: 24px;
  font-weight: bold;
}


/* ----- login and sign up ----- */
.login-container {
  height: 100vh;
  background-color: var(--cream);
}
 
.logo-container {
  background-color: var(--navy);
}

.sign-up {
  margin-top: 20px;
  color: var(--navy);
  font-size: 24px;
  font-weight: bold;
  width: auto;
}

#sign-up-link{
  margin-top: 20px;
}

/* ----- dashboard ----- */

/* - nav - */
.nav-bar {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

#search-bar {
  width: 60%;
  height: 45px;
}

.acct-controls {
  text-align: right;
}

#logout:hover {
  cursor: pointer;
}

#profile:hover {
  cursor: pointer;
}

/* -dashboard controls */

#vertical-logo{
  margin-top: 80px;
  margin-bottom: 40px;
  height: 120px;
}

.dashboard-menu {
  margin-left: 40px;
}

.dashboard_menu_item {
  color: var(--cream);
  font-size: 28px;
  font-weight: medium;
  margin-bottom: 20px;
  display: flex;
  align-items:baseline;
}

#dashboard-controls {
  background-color: var(--navy);
  height: fill-available;
}

#dashboard-controls a {
  color: var(--brown);
  text-decoration: none;
  font-size: 32px;
}

#dashboard-controls a:hover {
  color: white;
  font-size: 32px;
}

.dashboard_menu_item_active {
  color: var(--cream);
  text-decoration: none;
  font-size: 32px;
}

input {
  border: 3px solid var(--navy);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: lighter;
  color: var(--navy);
  background-color: var(--cream);
}


#dashboard-display {
  background-color: var(--cream);
  height: fit-available;
}

#dashboard-controls ul {
  list-style: none;
  margin: 50px 0 0 0;
}

.dashboard_menu_item img {
  position: relative;
  top: -2px;
  width: 60px;
}

/* ----- dashboard display */
.chart-container {
  padding: 20px;
}

.chart-label {
  margin-top: 50px;
}

/* ----- departments ----- */
.display-label {
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.card {
  width: calc(33.33% - 20px);
  height: 275px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card a {
  color: var(--navy);
  font-size: 26px;
  font-weight: bold;
  margin-top: 24px;
  text-decoration: none;
}

.card header {
  margin-top: 20px;
}

/* Add Dept/Employee */

.add-card-container {
  display: flex;
  flex-wrap: wrap;
}

.add-card {
    width: calc(90%);
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

.add-dept-card-container {
  width: calc(90%);
}
  
#title {
  margin: 0px 0 20px 0;
  font-size: 24px;
}

select {
  border: 3px solid var(--navy);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: lighter;
  color: var(--navy);
  background-color: var(--cream);
}

#back-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#back-button {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: 0px;
  background-color: var(--cream);
  /* border: 2px solid var(--navy); */
  color: var(--navy);
}

#back-button:hover {
  box-shadow: none;
  cursor: pointer;
}

#active-label {
  color: var(--cream);
}